In [1]:
# 예제 1. 함수를 생성해서 테스트하고, 함수의 __doc__을 읽어서 자료형 확인하기
def factorial(n):
    """returns n!"""
    return 1 if n < 2 else n * factorial(n-1)

In [2]:
factorial(42)

1405006117752879898543142606244511569936384000000000

In [3]:
factorial.__doc__

'returns n!'

In [4]:
type(factorial)

function

In [5]:
# 예제 2. 콘솔에서 help(factorial) 명령
help(factorial)

Help on function factorial in module __main__:

factorial(n)
    returns n!

In [7]:
# 예제 3. 함수를 다른 이름으로 사용하고 함수의 인수로 전달하기
fact = factorial
fact

In [8]:
fact(5)

120

In [9]:
map(factorial, range(11))

In [10]:
list(map(fact, range(11)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [12]:
# 예제 4. 단어 리스트를 길이에 따라 정렬하기
fruits = ['strawberry', 'fig', 'apple',
          'cherry', 'raspberry', 'banana']
sorted(fruits, key=len)

['fig', 'apple', 'cherry', 'banana', 'raspberry', 'strawberry']

In [13]:
# 예제 5. 단어 리스트를 철자 역순으로 정렬하기
def reverse(word):
    return word[::-1]
reverse('testing')

'gnitset'

In [14]:
sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

In [15]:
# 예제 6. 팩토리얼 목록을 map()/filter()로 생성하는 방법과 지능형 리스트로 생성하는 방법
list(map(fact, range(6)))

[1, 1, 2, 6, 24, 120]

In [16]:
[fact(n) for n in range(6)]

[1, 1, 2, 6, 24, 120]

In [18]:
list(map(factorial, filter(lambda n: n % 2, range(6))))

[1, 6, 120]

In [19]:
[factorial(n) for n in range(6) if n % 2]

[1, 6, 120]

In [20]:
# 예제 7. lambda를 이용해서 철자 역순으로 단어 리스트 정렬하기
fruits = ['strawberry', 'fig', 'apple',
          'cherry', 'raspberry', 'banana']
sorted(fruits, key=lambda word: word[::-1])

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

In [21]:
# 예제 8. callable로 객체 판단
abs, str, 13

(<function abs(x, /)>, str, 13)

In [22]:
[callable(obj) for obj in (abs, str, 13)]

[True, True, False]

In [23]:
# 예제 9. BingoCage 클래스는 뒤섞인 리스트에서 항목을 골라냄
import random

class BingoCage:

    def __init__(self, items):
        self._items = list(items)
        random.shuffle(self._items)

    def pick(self):
        try:
            return self._items.pop()
        except IndexError:
            raise LookupError('pick form empty BingoCage')

    def __call__(self):
        return self.pick()

In [24]:
# 예제 10. 예제 9에 대한 실행
bingo = BingoCage(range(3))
bingo.pick()

2

In [25]:
bingo()

0

In [26]:
callable(bingo)

True

In [27]:
bingo()

1

In [28]:
# 예제 11. 예제 9 실행에 대한 오류
bingo()

LookupError: pick form empty BingoCage

In [31]:
# 예제 12. HTML을 생성하는 tag() 함수
def tag(name, *content, cls=None, **attrs):
    """하나 이상의 HTML 태그를 생성한다."""
    if cls is not None:
        attrs['class'] = cls
    if attrs:
      attr_str = ''.join(' %s="%s"' % (attr, value)
                        for attr, value in sorted (attrs.items()))
    else:
      attr_str=''
    if content:
      return '\n'.join('<%s%s>%s</%s>' %
                        (name, attr_str, c, name) for c in content)
    else:
        return '<%s%s />' % (name, attr_str)

In [32]:
# 예제 13. 예제 12의 tag() 실행
tag('br')

'<br />'

In [33]:
tag('p', 'hello')

'<p>hello</p>'

In [34]:
print(tag('p', 'hello', 'world'))

<p>hello</p>
<p>world</p>

In [35]:
tag('p', 'hello', id=33)

'<p id="33">hello</p>'

In [37]:
# 예제 14. 예제 12의 tag() 실행
print(tag('p', 'hello', 'world', cls='sidebar'))

<p class="sidebar">hello</p>
<p class="sidebar">world</p>

In [38]:
tag(content='testing', name='img')

'<img content="testing" />'

In [39]:
my_tag = {'name': 'img', 'title': 'Sunset Boulevard',
          'src': 'sunset.jpg', 'cls': 'framed'}
tag(**my_tag)

'<img class="framed" src="sunset.jpg" title="Sunset Boulevard" />'

In [40]:
# 예제 15. 키워드 인자 사용 방법
def f(a, *, b):
    return a,b
f(1, b=2)

(1, 2)

In [41]:
# 예제 16. 키워드 인자 사용 방법 2
def create_user(name, *, age, is_admin=False):
    print(f"Name: {name}, Age: {age}, Admin: {is_admin}")

create_user("Alice", age=30, is_admin=True)
create_user("Bob", 25)

Name: Alice, Age: 30, Admin: True

TypeError: create_user() takes 1 positional argument but 2 were given

In [44]:
# 예제 17. 원하는 길이 가까이에 있는 공백에서 잘라서 문자열을 단축하는 함수
def clip(text, max_len=80):
    """max_len 앞이나 뒤의 마지막 공백에서 잘라낸 텍스트를 반환한다."""

    end=None
    if len(text) > max_len:
        space_before = text.rfind(' ', 0, max_len)
        if space_before >= 0:
            end = space_before
        else:
            space_after = text.rfind(' ', max_len)
            if space_after >= 0:
                end = space_after
    if end is None:
        end = len(text)
    return text[:end].rstrip()

In [45]:
# 예제 18. 함수 인수에 대한 정보 추출하기
clip.__defaults__

(80,)

In [46]:
clip.__code__

In [47]:
clip.__code__.co_varnames

('text', 'max_len', 'end', 'space_before', 'space_after')

In [48]:
clip.__code__.co_argcount

2

In [49]:
# 예제 19. 함수 시그니처 추출하기
from inspect import signature
sig = signature(clip)
sig

In [50]:
str(sig)

'(text, max_len=80)'

In [51]:
for name, param in sig.parameters.items():
    print(param.kind, ':', name, '=', param.default)

POSITIONAL_OR_KEYWORD : text = <class 'inspect._empty'>
POSITIONAL_OR_KEYWORD : max_len = 80

In [52]:
# 예제 20. [예제 12]의 tag()에서 가져온 함수 시그너처를 인수들의 딕셔너리에 바인딩하기
from inspect import signature
sig = signature(tag)

In [53]:
my_tag

{'name': 'img',
 'title': 'Sunset Boulevard',
 'src': 'sunset.jpg',
 'cls': 'framed'}

In [54]:
bound_args = sig.bind(**my_tag)
bound_args

In [55]:
for name, value in bound_args.arguments.items():
    print(name, '=', value)

name = img
cls = framed
attrs = {'title': 'Sunset Boulevard', 'src': 'sunset.jpg'}

In [56]:
# 예제 20. [예제 12]의 tag()에서 가져온 함수 시그너처를 인수들의 딕셔너리에 바인딩하기 2
del my_tag['name']

In [58]:
bound_args = sig.bind(**my_tag)
bound_args

TypeError: missing a required argument: 'name'

In [60]:
# 예제 21. 어노테이션을 추가한 clip() 함수
def clip_fa(text:str, max_len:'int>0'=80) -> str:
    """max_len 앞이나 뒤의 마지막 공백에서 잘라낸 텍스트를 반환한다."""

    end=None
    if len(text) > max_len:
        space_before = text.rfind(' ', 0, max_len)
        if space_before >= 0:
            end = space_before
        else:
            space_after = text.rfind(' ', max_len)
            if space_after >= 0:
                end = space_after
    if end is None:
        end = len(text)
    return text[:end].rstrip()

In [61]:
# 예제 22. 어노테이션 속성 확인 예제
clip_fa.__annotations__

{'text': str, 'max_len': 'int>0', 'return': str}

In [62]:
# 예제 23. 함수 시그니처에서 어노테이션 추출하기
clip_fa.__annotations__

{'text': str, 'max_len': 'int>0', 'return': str}

In [63]:
sig2 = signature(clip_fa)
sig2.return_annotation

str

In [64]:
for param in sig2.parameters.values():
    note = repr(param.annotation).ljust(13)
    print(note, ':', param.name, '=', param.default)

<class 'str'> : text = <class 'inspect._empty'>
'int>0'       : max_len = 80

In [66]:
# 예제 24. reduce()와 익명 함수로 구현한 팩토리얼
from functools import reduce

In [67]:
def fact(n):
    return reduce(lambda a, b: a*b, range(1, n+1))

In [68]:
fact(10)

3628800

In [69]:
# 예제 25. reduce()와 operator.mul 로 구현한 팩토리얼
from operator import mul

def fact(n):
    return reduce(mul, range(1, n+1))

In [70]:
fact(10)

3628800

In [71]:
# 예제 26. 튜플의 리스트 정렬을 위한 itemgetter() 사용
metro_data = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [72]:
from operator import itemgetter
for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

In [73]:
# 예제 27. 튜플의 리스트 정렬을 위한 itemgetter() 사용 2
cc_name = itemgetter(1, 0)
for city in metro_data:
    print(cc_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'Sao Paulo')

In [75]:
# 예제 28. metro_data (namedtuple) 처리를 위한 attrgetter() 사용 예
from collections import namedtuple
LatLong = namedtuple('LatLong', 'lat long')
Metropolis = namedtuple('Metropolis', 'name cc pop coord')
metro_areas = [Metropolis(name, cc, pop, LatLong(lat, long))
                for name, cc, pop, (lat, long) in metro_data]

In [76]:
metro_areas[0]

Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLong(lat=35.689722, long=139.691667))

In [77]:
metro_areas[0].coord.lat

35.689722

In [78]:
from operator import attrgetter
name_lat = attrgetter('name', 'coord.lat')

In [79]:
name_lat(metro_areas[0])

('Tokyo', 35.689722)

In [80]:
# 예제 28. metro_data (namedtuple) 처리를 위한 attrgetter() 사용 예 cont’
for city in sorted(metro_areas, key=attrgetter('coord.lat')):
    print(name_lat(city))

('Sao Paulo', -23.547778)
('Mexico City', 19.433333)
('Delhi NCR', 28.613889)
('Tokyo', 35.689722)
('New York-Newark', 40.808611)

In [82]:
# 뜬금없는 언패킹 연습
metro_areas2 = [Metropolis(name, cc, pop, LatLong(*loc))
              for name, cc, pop, loc in metro_data]
metro_areas2[0]

Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLong(lat=35.689722, long=139.691667))

In [83]:
# 예제 29. methodcaller() 사용 예
from operator import methodcaller
s = 'The time has come'
upcase = methodcaller('upper')

In [84]:
upcase(s)

'THE TIME HAS COME'

In [86]:
s.upper()

'THE TIME HAS COME'

In [87]:
hiphenate = methodcaller('replace', ' ', '-')
hiphenate(s)

'The-time-has-come'

In [88]:
# 예제 30. 인수를 하나 받는 callable이 필요한 곳에 인수 두 개를 받는 함수를 사용하기 위해 partial() 적용하기
from operator import mul
from functools import partial
triple = partial(mul, 3)
triple(7)

21

In [89]:
list(map(triple, range(1, 10)))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [90]:
# 예제 31. partial()을 이용해서 편리한 유니코드 정규화 함수 만들기
import unicodedata
nfc = partial(unicodedata.normalize, 'NFC')

In [91]:
s1 = 'café'
s2 = 'cafe\u0301'
s1, s2

('café', 'café')

In [92]:
s1 == s2, nfc(s1) == nfc(s2)

(False, True)

In [93]:
# 예제 32. [예제 12]의 tag() 함수에 적용한 partial() 함수
tag
picture = partial(tag, 'img', cls='pic-frame')

In [94]:
picture(src='wumpus.jpg')

'<img class="pic-frame" src="wumpus.jpg" />'

In [95]:
tag, picture, picture.func, picture.args, picture.keywords

(<function __main__.tag(name, *content, cls=None, **attrs)>,
 functools.partial(<function tag at 0x7b6979d8f7f0>, 'img', cls='pic-frame'),
 <function __main__.tag(name, *content, cls=None, **attrs)>,
 ('img',),
 {'cls': 'pic-frame'})